actionlib==1.12.1
angles==1.9.12
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.29
certifi==2020.12.5
click==8.0.0
controller-manager==0.18.3
controller-manager-msgs==0.18.3
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.4.2
-e git+https://github.com/facebookresearch/detectron@b02a680bf358d3c8bab526a10c8271630c0930cb#egg=Detectron
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
dynamic-reconfigure==1.6.3
Flask==1.1.2
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
graphviz==0.16
gunicorn==20.0.4
image-geometry==1.13.0
imageio==2.9.0
interactive-markers==1.11.5
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1617118429768/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==2.0.0
jedi==0.17.0
Jinja2==3.0.0
joint-state-publisher==1.12.15
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213308260/work
kdl-parser-py==1.13.1
kiwisolver==1.3.1
laser-geometry==1.6.7
MarkupSafe==2.0.0
matplotlib==3.1.3
message-filters==1.14.10
networkx==2.5.1
numpy==1.20.2
opencv-contrib-python==4.5.2.52
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.2.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pygame==2.0.1
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
pyparsing==2.4.7
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-qt-binding==0.4.3
PyWavelets==1.1.1
pyzmq==20.0.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.6
rosbag==1.14.10
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.10
roslaunch==1.14.10
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.10
rosmake==1.14.9
rosmaster==1.14.10
rosmsg==1.14.10
rosnode==1.14.10
rosparam==1.14.10
rospy==1.14.10
rosservice==1.14.10
rostest==1.14.10
rostopic==1.14.10
rosunit==1.14.9
roswtf==1.14.10
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.16
scikit-image==0.18.1
scipy==1.6.3
sensor-msgs==1.12.8
six @ file:///tmp/build/80754af9/six_1605205313296/work
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tifffile==2021.4.8
topic-tools==1.14.10
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
urdfdom-py==0.4.5
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
Werkzeug==2.0.0
xacro==1.13.9
